.masthead {
  min-height: 70vh;
}

.masthead h2, 
.masthead p {
  color: black !important;
}

.bg-index{
  background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExejRuZXozOTA0azB0Y2Ixd2s3cWZkcnU2cm14ZXhnb2N0M3M5ZXpmdyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/U4k5p9obbDgmRug8aH/giphy.gif") no-repeat fixed;
  background-size: cover;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}
.bg-dark {
  background-color: #003057 !important;
}
.ms-footer {
  background-color: #B3A369;
}
.ms-footer p {
  color: #FFFEF6;
  font-size: 13px;
}
.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom span{
font-size: 13px;
  line-height: 38px;
}
.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}
.ms-footer-bottom a:hover {
  color: #fff;
}
.img-card-200 {
  width: fit-content;
  max-height: 200px;
  }
.img-card-400 {
    width: fit-content;
    max-height: 400px;
    }
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#movieCarousel {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.carousel-item video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-control-prev, 
.carousel-control-next {
  width: 5%;
}
.carousel-control-prev-icon, 
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 50%;
  padding: 10px;
}
.carousel-item {
  transition: transform 0.6s ease-in-out;
}
.carousel-inner {
  overflow: hidden;
  border-radius: 10px;
}
